.addButton{
    width: 80%;
    display: flex;
    justify-content: end;
    margin: 20px;
}
.footerTable{
    width: 80%;
    display: flex;
    justify-content: space-between;
    /*margin: 0 auto;*/
    align-items: center;
}