.block {
    display: flex;
    text-align: left;
    align-items: center;
    border: 1px solid black;
}
.block span {
    margin: 5px;
}

.question {
    width: 500px;
}
.answer {
    width: 500px;
}
.lastUpdated {
    text-align: center;
    width: 100px;
}
.grade {
    text-align: center;
    width: 100px;
}
.action {
    text-align: center;
    width: 200px;
}