.block {
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 100%;
}

.block span {
    padding: 5px;
    display: flex;
}

.block span:nth-child(-n+2){
    width: 30%;
}

.block span:nth-child(n+3){
    width: 15%;
    text-align: center;
}


/*.question {*/
/*    width: 500px;*/
/*}*/
/*.answer {*/
/*    width: 500px;*/
/*}*/
/*.lastUpdated {*/
/*    text-align: center;*/
/*    width: 100px;*/
/*}*/
/*.grade {*/
/*    text-align: center;*/
/*    width: 100px;*/
/*}*/
/*.action {*/
/*    text-align: center;*/
/*    width: 200px;*/
/*}*/